
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
}

.container {
    margin: 80px auto 40px auto;
    width: 90%;
}

h1 {
    margin: 0 auto;
    width: 80%;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.14286px;
    color: #512051;
    text-align: center;
}

.header-p {
    margin: 0 auto;
    width: 97%;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: #927b91;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 40px;
}

.rate {
    border-radius: 8px;
    background-color: #f7f2f7;
    text-align: center;
    padding-top: 16px;
}

.middle-rate {
    margin-top: 16px;
    margin-bottom: 16px;
}

.fa-star {
    color: #ef9546;
    margin-right: 8px;
}

.five-stars {
    padding-bottom: 15px;
    padding-top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #512051;
}

.cards {
    margin-top: 49px;
}

.middle-card {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card {
    padding: 40px 32px 32px 32px;
    border-radius: 8px;
    background-color: #512051;
}

.card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.232143px;
    color: white;
    margin-top: 26px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 23px;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: white;
    margin-bottom: 5px;
}

.buyer {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #ee69a4;
}


footer a {
    text-decoration: none;
    color: #512051;
}

.paminos {
    color: tomato;
    font-weight: 600;
}

footer {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: darkgrey;
    margin-bottom: 20px;
}